body {
    padding: 25px;
    font-size: 25px;
  }
  #controls {
    position: fixed;
    top: 0;
    left: 42.5%;
    background: rgba(0,0,0,0.1);
    padding: 10px;
  }
  div#box1 {
    position: relative;
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px 0;
  }
  
  