html {
    background-color: #49b2fc;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#1b83f9, #49b2fc);
    height: 100%;
    position: relative;
    overflow: hidden;
}

p {
    text-align: center;
    font-size: 2em;
}

.nubol {
    position: absolute;
    background-image: url(nube.png);
    background-size: cover;
}

.nubol1 {
    top: 250px;
    left: 0;
    width: 600px;
    height: 600px;
    z-index: 1;
    animation: nubol1 25s infinite linear;
}

.nubol2 {
    top: 70px;
    left: 0;
    width: 400px;
    height: 400px;
    z-index: 2;
    animation: nubol2 32s infinite linear;
}

.nubol3 {
    top: 70px;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 3;
    animation: nubol3 17s infinite linear;
}

.nubol4 {
    top: 90px;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 4;
    animation: nubol4 19s infinite linear;
}

.nubol5 {
    top: 70px;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 5;
    animation: nubol5 23s infinite linear;
}

/* Nuevas nubes */
.nubol6 {
    top: 320px;
    left: 0;
    width: 180px;
    height: 180px;
    z-index: 2;
    animation: nubol6 20s infinite linear;
}

.nubol7 {
    top: 400px;
    left: 0;
    width: 370px;
    height: 220px;
    z-index: 3;
    animation: nubol7 28s infinite linear;
}

.nubol8 {
    top: 150px;
    left: 0;
    width: 250px;
    height: 150px;
    z-index: 1;
    animation: nubol8 15s infinite linear;
}

.nubol9 {
    top: 40px;
    left: 0;
    width: 120px;
    height: 80px;
    z-index: 4;
    animation: nubol9 21s infinite linear;
}

.nubol10 {
    top: 360px;
    left: 0;
    width: 90px;
    height: 90px;
    z-index: 5;
    animation: nubol10 26s infinite linear;
}

.pajaros {
    position: absolute;
    width: 900px;
    height: 900px;
    top: 200px;
    left: 0;
    z-index: 10;
    background-image: url('pajaros.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* Cambiamos la duración de animación a la misma que la nube 1 (25s) */
    animation: pajaros-volar 25s infinite linear;
}

@keyframes pajaros-volar {
    0% {
        left: -1000px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol1 {
    0% {
        left: -600px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol2 {
    0% {
        left: -400px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol3 {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol4 {
    0% {
        left: -200px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol5 {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol6 {
    0% {
        left: -180px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol7 {
    0% {
        left: -370px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol8 {
    0% {
        left: -250px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol9 {
    0% {
        left: -120px;
    }
    100% {
        left: 100%;
    }
}

@keyframes nubol10 {
    0% {
        left: -90px;
    }
    100% {
        left: 100%;
    }
}